.add {
  color: black;
  border: 1px solid grey;
  transition: 0.5s ease;
}
button:hover {
  color: white;
}
.btn-del {
  border: none;
}
.edit-btn {
  transition: 0.5s ease;
}
.edit-btn:hover {
  transform: scale(1.2);
}
.del-btn {
  transition: 0.5s ease;
}
.del-btn:hover {
  transform: scale(1.2);
}
.top h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}
.bt {
  margin-left: 18%;
}
.nav-content {
  padding-left: 1.2rem;
  padding-right: 2.2rem;
}
th {
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .nav-content {
    padding-right: 0rem;
  }
}
