<div class="main">
  <!-- <div class="text-center d-flex top">
    <h1>MEMBERS</h1>
    <div class="bt">
      <button
        class="btn btn-secondary add me-2"
        style="color: white"
        mat-button
        (click)="openDialog()"
      >
        Add Items
      </button>
      <button class="btn btn-secondary add" mat-button>
        <a style="text-decoration: none; color: white" href="login">Logout</a>
      </button>
    </div>
  </div> -->

  <nav
    class="navbar navbar-expand-lg nav-content"
    style="background-color: transparent"
  >
    <div class="container-fluid" style="align-items: center">
      <a class="navbar-brand top" href="#"><h1 class="mb-0">MEMBERS</h1></a>
      <button
        class="navbar-toggler"
        type="button"
        style="background-color: whitesmoke"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        style="justify-content: end"
      >
        <button
          class="btn btn-secondary add me-2"
          style="color: white"
          mat-button
          (click)="openDialog()"
        >
          Add Member
        </button>
        <button class="btn btn-secondary add" mat-button>
          <a style="text-decoration: none; color: white" href="login">Logout</a>
        </button>
      </div>
    </div>
  </nav>

  <div class="text-center ps-3 mt-3" style="padding-right: 1.2rem">
    <table
      class="ms-3"
      style="width: 96%; color: white; border: 2px solid white"
    >
      <thead class="align-middle"></thead>
      <tr>
        <th style="border: 1px solid white">Sr</th>
        <th style="border: 1px solid white">Name</th>
        <th style="border: 1px solid white">Candidate id</th>
        <th style="border: 1px solid white">Shift</th>
        <th style="border: 1px solid white">Update</th>
      </tr>
      <tr *ngFor="let d of user; let i = index">
        <th style="border: 1px solid white">{{ i + 1 }}</th>
        <td class="p-2 ms-2" style="border: 1px solid white">
          {{ d.name }}
        </td>
        <td class="p-2 ms-2" style="border: 1px solid white">
          {{ d.candidate }}
        </td>
        <td class="p-2 ms-2" style="border: 1px solid white">
          {{ d.shift }}
        </td>
        <td class="p-2 ms-2" style="border: 1px solid white">
          <button class="btn btn-del p-0">
            <i
              (click)="edit(d)"
              style="color: white"
              class="fa-regular me-2 fa-pen-to-square edit-btn"
            ></i>
            <i
              (click)="condel(d._id)"
              style="color: white"
              class="fa-solid fa-trash del-btn"
            ></i>
          </button>
        </td>
        <!-- <td class="p-2 ms-2" style="border: 1px solid grey">
          <button class="btn btn-del">
            <i (click)="del(d._id)" class="fa-solid fa-trash"></i>
          </button>
        </td> -->
      </tr>
    </table>
  </div>
</div>
