.main {
  background-color: #008080;
}
.input-detail {
  border-radius: 5px;
  border: none;
  height: 30px;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .input-detail {
    width: 95%;
  }
}
